
<div class="row">
    {{#each movies}}
    <div class="class col-xl-3 display: flex, justify-content: center">
        <h1>Movies</h1>

            <h3>Película: {{title}}</h3>
            <h4>Género : {{genre}}</h4>
            <h5>Tipo: {{plot}}</h5>
            <h5>Actores : {{#each cast}} {{name}} {{/each}} </h5>
            <p>
                <a href="/movies/{{_id}}">Detalles</a>
            </p>
            {{/each}}
            

        
        
    </div>